* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  width: 100%;
  height: 100%;
  background-color: #11002a;

  & form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    width: 400px;
    height: 500px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    background-color: #10081c;

    & h1 {
      text-align: center;
      color: #4300a8;
    }

    & .caixa-input {
      width: 100%;
      height: 50px;
      padding: 0;
      /*border: solid 1px;*/

      & i {
        position: relative;
        z-index: 1;
        left: 30px;
        font-size: 17px;
        cursor: pointer;
        color: #fff;
        transition: 1s ease;
      }
      & i:hover {
        animation: iconMovie 0.6s alternate infinite;
      }
      & i.active {
        transform: translateY(-10px) scale(1.02);
        color: #4300a8;
      }
      & i.active:hover {
        animation: none;
      }


      & input {
        position: relative;
        width: 65%;
        padding: 5px 30px;
        border-radius: 5px;
        border: none;
        border: solid 1px #000;
        outline: none;
        background-color: #2f2e30;
        color: #4300a8;
        font-weight: bold;
        transition: 0.4s ease;
      }
      & input:focus {
        transform: translateY(-10px) scale(1.02);
        transition: 0.6s ease;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
    }

    & button {
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      background-color: rgb(0, 150, 0);
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      margin-left: 5px;
      transition: 1s ease;
    }
    & button:hover {
      transform: translateY(-10px) scale(1.1);
      background-color: rgb(0, 171, 0);
       box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    & button.active {
      background-color: #4300a8;
    }
  }
}

@keyframes iconMovie {

  to {
    transform: rotate(10deg) scale(1.1);
    color: #4300a8;
  }

  from {
    transform: rotate(-5deg);
  }
}